// colors
$blue: #00A9E0;
$green: #5BC500;
$yellow: #F59C00;
$orange: #EC6839;
$pink: #E9426D;
$purple: #954B97;
$white: #fff;
$gradient-light: #02B4DF;
$gradient-dark: #0288D1;

// gray scale
$gray01: #50535A;
$gray02: #86888C;
$gray03: #B6B7B7;
$gray04: #D3D4D3;
$gray05: #E9EAE8;

$gutter: 16px;